@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    margin: 0%;
    padding: 0%;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

footer{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #655560;
}

.barraSup{
    position: fixed;
    top: 0%;
    width: 100%;
}
  
li{
    float: left;
    border-right: 1px solid white;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover:not(.seleccion){
    background-color: black;
}

.seleccion{
    background-color: #a4969b;
}

.carrito{
    background-color: #1abc9c;
    float: right;
    border-left: 1px solid white;
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box ;
    border-radius: 4px;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    resize: none;
}

.desordenado{
    float: none;
    display: grid;
    background-color: #f7f7f7;
    padding-left: 2rem;
    list-style-type: disc;
}

.mediosDePago{
    padding-top: 2rem;
}
.caja{
    display: flex;
}
#caja1{
    width: 100%;
}

#caja2{
    width: 50%;
    padding-left: 1rem;
}