@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
}

ul{
    text-align: center;
}

li{
    float: none;
    display: inline-block;
    margin: 2%;
}
a{
    text-decoration: none;
}

